<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Lista de deseos</h3>
                </div>
                <div class="card-body">
                    <app-formdestinoviaje (onItemAdded)="agregado($event)"></app-formdestinoviaje>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">

    <div class="row row-flex">
        <app-destinoviaje
        *ngFor = "let d of all; let i=index"
        [destino]=d
        [position]="i"
        (onClicked)="elegido(d)
        appEspiame">
        </app-destinoviaje>
    </div>

    <hr class="mb-5">

    <div class="row row-flex">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let u of updates">{{updates}}</li>
        </ul>
    </div>


</div>

