<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchresults;">{{r}}</li>
        </ul> 
        <div *ngIf="fg.controls['nombre'].hasError('required')">nombre requerido</div>
         <div *ngIf="fg.controls['nombre'].hasError('invalidnombre')">nombre invalido</div>
         <div *ngIf="fg.controls['nombre'].hasError('minlongnombre')">nombre debe tener al menos {{minlongitud}} de largo</div>
    </div>
    <div class="form-group">
        <label for="imagen url">Imagen URL</label>
        <input type="text" class="form-control" id="imagenurl" placeholder="Ingrese URL" [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>